@import '../../App.scss';

$sign-up-form-font-color: #ffffff;

.sign-up-form {
    margin: 15vh;
    background-color: #0000008c;
    &__title {
        color: $sign-up-form-font-color;
        margin-bottom: 50px; 
    }
    &__input {
        @include reset-default-input;
        font-size: 0.5em;
        color: $sign-up-form-font-color;
        cursor: pointer;
        border: 2px solid $sign-up-form-font-color;
        border-top: 0;
        border-radius: 2%;
        &:focus {
            outline: none;
            caret-color: $sign-up-form-font-color;
        }
        &:hover {
            border: 2px solid grey;
            border-top: 0;
        }
        &::placeholder {
            color: $sign-up-form-font-color;
            text-align: center;
        }
        &::placeholder:focus {
            color: transparent;
        }
    }
    &__input-submit {
        @include reset-default-input;
        font-size: 1em;
        color: $sign-up-form-font-color;
        cursor: pointer;
        &:hover {
            color:grey;
        }
    }
}