@import '../../../App.scss';

$menu-nav-width: 40vw;
$menu-font-color: #101010;
$menu-font-color-negative: #ffffff;
$menu-background-color: #d1d1d1f3;

.menu {
    .top-menu-container {
        display: flex;
        justify-content: space-between;
        &--wide {
            width: calc( 40vw - 30px );
            display: flex;
            justify-content: space-between;
        }
    }
    &-button-container {
        cursor: pointer;
    }
    &__button {
        @include reset-default-button;
        font-size: 1.5em;
        position: relative;
        z-index: 101;
        &--negative {
            @include reset-default-button;
            font-size: 1.5em;
            position: relative;
            z-index: 101;
            color: $menu-font-color-negative;
        }
    }
    &__icon {
        vertical-align: middle;
        font-size: 1.5em;
        margin: 10px;
        position: relative;
        z-index: 101;
        &--negative {
            vertical-align: middle;
            font-size: 1.5em;
            margin: 10px;
            position: relative;
            z-index: 101;
            color: $menu-font-color-negative;
        }
    }
    &__nav {
        position: absolute;
        z-index: 100;
        top: 0;
        padding-top: 100px;
        height: 100vh;
        width: $menu-nav-width;
        transition: 1s ease;
        background-color: $menu-background-color;
        &--opened {
            right: 0;
            visibility: visible;
            opacity: 1;
        }
        &--closed {
            right: 0;
            visibility: hidden;
            opacity: 0;
        }
    }
    &__list {
        @include reset-default-list;
    }
    &__list-element {
        margin: 20px;
        text-align: center;
        border: 1px solid grey;
    }
    &__link {
        font-size: 1.5em;
        color: $menu-font-color;
    }
}